// Global styling for this template


.badge {
  z-index: 99999;
  color: black;
  background-color: white;
  font-size: x-small;
  position: fixed;
  margin-top: 64px;
  left: 8px;
  padding: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.badgeLeft {
  z-index: 99999;
  color: black;
  background-color: white;
  font-size: x-small;
  position: fixed;
  margin-top: 64px;
  left: -200px;
  padding: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

@media(min-width:768px) {
  .badge {
    z-index: 99999;
    color: black;
    background-color: white;
    font-size: x-small;
    position: fixed;
    margin-top: 80px;
    margin-left: 170px;
    padding: 5px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .badgeLeft {
    z-index: 99999;
    color: black;
    background-color: white;
    font-size: x-small;
    position: fixed;
    margin-top: 80px;
    margin-left: -170px;
    opacity: 0;
    padding: 5px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}


body {
  overflow-x: hidden;
  @include default-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include default-font;
}

section {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 20px;
    font-weight: 400;
  }
}

@media(min-width: 768px) {
  section {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

p {
  font-size: medium;
}

// Button Styles
.btn {
  @include default-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 15px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, .5) !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

* {
  overflow-x: hidden;
}